.row {
    height: 100%;
    margin: auto;
}

.left-heading {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    /* color:#273342; */
    color: #f8f8f8;
    font-size: 3.75rem;
    line-height: 1;
}

.left-heading span {
    color: #443ce0;
}

.left-paragraph {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    margin-top: 15px;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.left-column {
    margin-left: 5rem;
    float: left;
    width: 50%;
    padding: 20px;
    align-items: center;
    padding-top: 8%;
}

.right-column {
    object-fit: cover;
    background-position: 50% 50%;
    float: left;
    width: 50%;
    padding: 10px;
    align-items: center;
    vertical-align: center;
    height: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    width: 200px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 0.375rem;
    border: none;
}

.success {
    background-color: #443ce0;
    color: white;
    margin-right: 20px;
}

.success:hover {
    background-color: #5851e7;
    box-shadow: 2px 4px 6px 8px rgb(79 70 229/0.10);
}

.info {
    background-color: #e9e3e3;
    color: #443ce0;
}

.info:hover {
    background-color: #fff;
    color: #443ce0;
    box-shadow: 2px 4px 6px 8px #dddddd40;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .left-column {
        width: 100%;
        height: auto;
    }

    .right-column {
        width: 97%;
        margin: 0 20px 0 10px;
        border-radius: 20px;
    }

    .success {
        background-color: #443ce0;
        color: white;
        box-shadow: 2px 4px 6px 8px rgba(89, 81, 237, 0.1);
        margin-right: 2px;
    }

    .btn {
        width: 150px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}